apiVersion: apps/v1
kind: Deployment
metadata:
  name: orchestrator
  namespace: platform
  labels:
    app: orchestrator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orchestrator
  template:
    metadata:
      labels:
        app: orchestrator
    spec:
      serviceAccountName: orchestrator-sa       
      containers:
        - name: orchestrator
          image: orchestrator:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: CHART_PATH
              value: "/app/charts"
            - name: BASE_DOMAIN
              value: "127.0.0.1.nip.io"