ingress:
  enabled: true
  className: "nginx"
  tls: false

persistence:
  storageClass: "standard"
  size: 500Mi

resources:
  requests:
    cpu: "50m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"