apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.storeName }}
  namespace: store-{{ .Values.storeName }}
  labels:
    app: {{ .Values.storeName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.storeName }}
  template:
    metadata:
      labels:
        app: {{ .Values.storeName }}
    spec:
      securityContext:
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
      containers:
        - name: wordpress
          image: wordpress:6.4-apache
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 33
            capabilities:
              drop:
                - ALL
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 50m
              memory: 256Mi
          env:
            - name: WORDPRESS_DB_HOST
              value: "127.0.0.1"
            - name: WORDPRESS_DB_USER
              value: "root"
            - name: WORDPRESS_DB_PASSWORD
              value: {{ .Values.mysql.rootPassword | quote }}
            - name: WORDPRESS_DB_NAME
              value: "wordpress"
          volumeMounts:
            - name: wp-data
              mountPath: /var/www/html
          livenessProbe:
            httpGet:
              path: /wp-login.php
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 10
        
        - name: mysql
          image: mariadb:10.6
          args:
            - "--default-authentication-plugin=mysql_native_password"
            - "--performance-schema=OFF"
            - "--innodb-buffer-pool-size=64M"
          
          # HARDCODED RESOURCES (Safety First)
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

          env:
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.mysql.rootPassword | quote }}
            - name: MYSQL_DATABASE
              value: "wordpress"
          volumeMounts:
            - name: db-data
              mountPath: /var/lib/mysql
              
      volumes:
        - name: wp-data
          persistentVolumeClaim:
            claimName: wp-pvc
        - name: db-data
          persistentVolumeClaim:
            claimName: db-pvc