apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ .Values.storeName }}-quota
  namespace: {{ .Release.Namespace }}
spec:
  hard:
    pods: "5"
    requests.cpu: "1"
    requests.memory: "1Gi"
    requests.storage: "5Gi"
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Values.storeName }}-deny-all
  namespace: {{ .Release.Namespace }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: ingress-nginx 
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system 
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: monitoring